body {
    background-color: #cccccc;
    width: 100%;
    margin: auto;
}

header li{
    float:right;
    padding: 10px;
    color: white;
    cursor: pointer;
}

header {
    display: inline-block;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
}

header h1:hover{
    color: #00d6e3;
}
header ul {
    list-style-type: none;
}
header a {
    text-decoration: none; /* removes hyper link and underlining etc */
}

header a:hover { /* hover changes colour!*/
    color: #00d6e3;
}

.features {
    width:80%;
    background-color: yellow;
    margin:auto;
}
.feature1 {
    text-align:center;
    display: inline-block;
    width: 460px;
    position: relative;
    border: 3px solid green;
    /*width: 330px; /* for IE 6 */
}

.feature2 {
    text-align:center;
    display: inline-block;
    width: 460px;
    position: relative;
    border: 3px solid green;
    /*width: 330px; /* for IE 6 */
}

.feature3 {
    text-align:center;
    display: inline-block;
    width: 460px;
    position: relative;
    border: 3px solid green;
    /*width: 330px; /* for IE 6 */
}

.feature1 p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.feature2 p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.feature3 p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.selected{ /* for selected link on index*/
    font-weight: bold;
    color: red;
}

p span{
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

footer{
    clear: both; /* clears everything before drawing*/
}